<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wof.mapper.ClientMapper">

<select id="dashboardclientProject" resultType="org.wof.domain.ProjectVO">
	<![CDATA[
		select p.proj_title, p.proj_estimate, p.proj_reqr_person, p.proj_work_place,
			p.proj_reqr_skill, p.proj_start_date
		from project p, apply a
		where p.proj_id = a.proj_id
	]]>
	
</select>

<select id="dashboardFallowPartners" resultType="org.wof.domain.PartnersVO">
<![CDATA[
	select p.member_no, p.career, p.skill
	from partners p, followpartners f
	where p.member_no = f.target_member and rownum <= 5
	order by f.FOLLOWING_DATE desc
]]>
</select>


</mapper>