<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wof.mapper.ContractMapper">

	<select id="contractSource" resultType="org.wof.domain.ContractSourceVO">
		<![CDATA[
		select
		m.member_no, m.userid, m.real_name, m.userphone, 
		c.business_register_no, c.name, c.tel, c.address1, c.address2,
		j.proj_id, j.proj_title, j.proj_start_date, j.proj_end_date
		from
		member m join client c 
		on m.member_no = c.member_no
		join project j
		on c.member_no = j.member_no
		where m.member_no = #{source_no}
		and j.proj_id = #{proj_id}
		]]>
	</select>
	
	<select id="contractTarget" resultType="org.wof.domain.ContractTargetVO">
		<![CDATA[
		select 
		m.member_no, m.userid, m.real_name, m.userphone, p.birthday
		from member m join partners p
		on m.member_no = p.member_no
		where m.member_no = #{target_no}
		]]>
	</select>
	
	<select id="contractCheck" resultType="org.wof.domain.ContractVO">
		
	</select>
	
	<insert id="sourceRegister">
		insert into contract (
		CONTRACT_ID, CONTRACT_WRITE_SOURCE,
		CONTRACT_REG_DATE, RELATED_PROJ, CONTRACT_WRITE_TARGET, source_signature
		)
		values('cont'||contract_seq.nextval, #{contract_write_source}, sysdate, 
		#{related_proj}, #{contract_write_target}, #{source_signature})
	</insert>
	
	<update id="targetSignature">
		update contract set source_signature = #{source_signature}
		where CONTRACT_WRITE_SOURCE = #{contract_write_source}
		and RELATED_PROJ = #{related_proj}
		and CONTRACT_WRITE_TARGET = #{contract_write_target}
	</update>


</mapper>