<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wof.mapper.ProjectMapper">





<select id="listProject" resultType="org.wof.domain.ProjectVO">
<![CDATA[
select * from project order by proj_reg_date desc
]]>
</select>


<select id="getListWithPaging"	resultType="org.wof.domain.ProjectVO">
		<!-- 쿼리문 -->
		<!-- SELECT * 
			FROM
				(SELECT rownum rn, proj_id, proj_title, proj_reg_date, member_no, proj_apply_deadline,
					proj_start_date, proj_end_date, proj_estimate, PROJ_REQR_PERSON, PROJ_REQR_SKILL,
					PROJ_TYPE, PROJ_CAREER, PROJ_PM, PROJ_WORK_TYPE, PROJ_WORK_PLACE, PROJ_WORK_TIME,
					proj_work_equip, proj_walfare, proj_detail, PROJ_FINISH_DATE, apply_mem, proj_status,
					PROJ_UPDATE_DATE, PROJ_REPLYCNT, PROJ_TOTAL_DATE
				FROM
					(SELECT * 
					FROM PROJECT
					ORDER BY lpad(proj_id, 10, '0') DESC
					)
				WHERE rownum <= 20
				)
			WHERE rn > 10; --> 
			<![CDATA[
			SELECT * 
			FROM
		 		(SELECT rownum rn, proj_id, proj_title, proj_reg_date, member_no, proj_apply_deadline,
					proj_start_date, proj_end_date, proj_estimate, PROJ_REQR_PERSON, PROJ_REQR_SKILL,
					PROJ_TYPE, PROJ_CAREER, PROJ_PM, PROJ_WORK_TYPE, PROJ_WORK_PLACE, PROJ_WORK_TIME,
					proj_work_equip, proj_walfare, proj_detail, PROJ_FINISH_DATE, apply_mem, proj_status,
					PROJ_UPDATE_DATE, PROJ_REPLYCNT, PROJ_TOTAL_DATE
				FROM
					(SELECT * 
					FROM PROJECT
					ORDER BY lpad(proj_id, 10, '0') DESC
					)
				WHERE rownum <= #{pageNum} * #{amount}
				)
			WHERE rn > (#{pageNum} - 1) * #{amount}
			]]>
</select>


<select id="getTotalCount" resultType="int">
	select count(*) from project 
</select>




<insert id="insertProject" parameterType="org.wof.domain.ProjectVO">
insert into project(proj_id, proj_title, proj_reg_date, member_no, proj_apply_deadline, proj_start_date, proj_end_date,
proj_estimate, proj_reqr_person, proj_reqr_skill, proj_type, proj_career, proj_pm, proj_work_type, proj_work_place,
proj_work_time, proj_work_equip, proj_walfare, proj_detail, proj_status,  proj_total_date) 
values('project'|| seq_project.nextval, #{proj_title}, sysdate ,#{member_no}, TO_DATE(#{proj_apply_deadline}, 'yyyy-MM-dd'), TO_DATE(#{proj_start_date}, 'yyyy-MM-dd'), TO_DATE(#{proj_end_date}, 'yyyy-MM-dd'),
#{proj_estimate}, #{proj_reqr_person}, #{proj_reqr_skill}, #{proj_type}, #{proj_career}, #{proj_pm}, #{proj_work_type}, #{proj_work_place}|| ' ' || #{proj_work_place1} , 
#{proj_work_time}, #{proj_work_equip}, #{proj_walfare}, #{proj_detail}, 0, #{cal_date})
</insert>


<select id="readProject" resultType="org.wof.domain.ProjectVO">
select * from project where proj_id = #{proj_id}
</select>

<delete id="deleteProject" parameterType="String">
delete from project where proj_id = #{proj_id}
</delete>

<update id="updateProject" parameterType="org.wof.domain.ProjectVO">
update project set proj_title=#{proj_title},		
		 proj_estimate=#{proj_estimate}, proj_reqr_person=#{proj_reqr_person},proj_reqr_skill=#{proj_reqr_skill}, proj_type=#{proj_type}, proj_career=#{proj_career},
		proj_work_type=#{proj_work_type}, proj_work_place=#{proj_work_place}, proj_work_time=#{proj_work_time}, proj_work_equip=#{proj_work_equip}, proj_pm=#{proj_pm},
		proj_walfare=#{proj_walfare},
		 proj_detail=#{proj_detail}
			where proj_id = #{proj_id}
</update>






</mapper>