<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wof.mapper.ProjectReplyMapper">

	<insert id="insert">
		insert into project_reply(proj_reply_no, proj_id, proj_reply_cont, proj_reply_date, member_no) 
			values (seq_project_reply.nextval, #{proj_id}, #{proj_reply_cont}, TO_DATE(#{proj_reply_date},'yyyy-MM-dd'), #{member_no} )
	</insert>

	<select id="read" resultType="org.wof.domain.ProjectReplyVO">
		select * from project_reply where proj_reply_no = #{proj_reply_no}
	</select>
	
	<delete id="delete">
		delete from project_reply where proj_reply_no = #{proj_reply_no}
	</delete>
	
	<update id="update">
		update project_reply set proj_reply_cont = #{proj_reply_cont}, proj_reply_update = sysdate
			where proj_reply_no = #{proj_reply_no}
	</update>

	<select id="getListWithPaging" resultType="org.wof.domain.ProjectReplyVO">
		select *
		from project_reply
		where proj_id = #{proj_id}
		order by proj_reply_date desc
	</select>



</mapper>